<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Spot Finder</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/8ae732e432.js" crossorigin="anonymous"></script>

    {% if title %}
    <title>Sollution Challenge - {{title}}</title>
    {% else %}
    <title>Sollution Challenge</title>
    {% endif %}
</head>

<body>

    <section id="title">

        <div class="container-fluid">

            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark ">

                <a class="navbar-brand mytitle" href="">Spot Finder</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent ">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus">
                                Meet Our Team
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">
                                Our Mission
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">
                                About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>



            <!-- Title -->
            <div class="row">
                <div class="col-lg-6 descrip_txt">
                    <h1>Is your tree healthy?</h1>
                    <h1> Let us help you find out.</h1>
                    <button type="button" class="btn btn-dark btn-lg download-button" onclick="{{url_for('inference')}}"><i class="fa-solid fa-images"></i>
                        Realtime Prediction </button>
                    <button type="button" class="btn btn-outline-light btn-lg download-button"><i
                            class="fa-solid fa-gears"></i> How It Works</button>
                </div>
                <div class="col-lg-6 descrip_img">


                    <!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1000" data-pause="hover">
            <div class="carousel-inner">
              <div class=" carousel-item active" id="carousel_pad">
                <img class=" d-block w-100 desc_img" src="web_images/test1.png" alt="test1">
              </div>
              <div class="carousel-item" id="carousel_pad">
                <img class="d-block w-100  desc_img" src="web_images/test2.png" alt="test2">
              </div>
              <div class="carousel-item" id="carousel_pad">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div>
            </div>
          </div>-->

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000"
                        data-pause="hover">
                        <div class="carousel-inner">
                            <div class="carousel-item active" id="carousel_pad">
                                <img class=" d-block w-100 desc_img"
                                    src="{{url_for('static',filename='web_images/temp2.1.png')}}" alt="temp1">
                            </div>
                            <div class="carousel-item" id="carousel_pad">
                                <img class="d-block w-100  desc_img"
                                    src="{{url_for('static',filename='web_images/temp2.png')}}" alt="temp2">
                            </div>
                            <div class="carousel-item" id="carousel_pad">
                                <img class="d-block w-100 desc_img"
                                    src="{{url_for('static',filename='web_images/test3.png')}}" alt="test3">
                            </div>
                            <div class="carousel-item" id="carousel_pad">
                                <img class="d-block w-100 desc_img" src="{{url_for('static',filename='web_images/temp4.png')}}" alt="test4">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <!-- Features -->

    <section id="features">
        <div class="row">
            <div class="col-lg-4 features-desc">
                <i class="fas fa-check-circle fa-4x features-img"></i>
                <h3 class="features-title"> Easy to use.</h3>
                <p class="features-details">Our Model scans for any abnormalities.</p>
            </div>
            <div class="col-lg-4 features-desc">
                <i class="fas fa-bullseye fa-4x features-img"></i>
                <h3 class="features-title">Highly Accurate</h3>
                <p class="features-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
            </div>

            <div class="col-lg-4 features-desc">
                <i class="fas fa-heart fa-4x features-img"></i>
                <h3 class="features-title">Guaranteed to work.</h3>
                <p class="features-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

        </div>
    </section>


    <!-- Testimonials -->

    <section id="testimonials">



    </section>



    <!-- Pricing -->

    <section id="pricing">

        <h2>A Plan for Every Dog's Needs</h2>
        <p>Simple and affordable price plans for your and your dog.</p>


        <div class="row">

            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Chihuahua</h3>
                    </div>
                    <div class="card-body">
                        <h2>Free</h2>
                        <p>5 Matches Per Day</p>
                        <p>10 Messages Per Day</p>
                        <p>Unlimited App Usage</p>
                        <button type="button" class="w-100 btn btn-lg btn-outline-dark">Sign Up</button>
                    </div>
                </div>
            </div>

            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Labrador</h3>
                    </div>
                    <div class="card-body">
                        <h2>$49 / mo</h2>
                        <p>Unlimited Matches</p>
                        <p>Unlimited Messages</p>
                        <p>Unlimited App Usage</p>
                        <button type="button" class="w-100 btn btn-lg btn-dark">Sign Up</button>
                    </div>
                </div>
            </div>

            <div class="pricing-column col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Mastiff</h3>
                    </div>
                    <div class="card-body">
                        <h2>$99 / mo</h2>
                        <p>Pirority Listing</p>
                        <p>Unlimited Matches</p>
                        <p>Unlimited Messages</p>
                        <p>Unlimited App Usage</p>
                        <button type="button" class="w-100 btn btn-lg btn-dark">Sign Up</button>
                    </div>
                </div>
            </div>

    </section>


    <!-- Call to Action -->

    <section id="cta">

        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</h3>
        <button type="button" class="btn btn-lg btn-dark cta-button"> <i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-lg btn-light cta-button"> <i class="fab fa-google-play"></i>
            Download</button>

    </section>


    <!-- Footer -->

    <footer id="footer">

        <i class="fab fa-twitter footer-icon"></i>
        <i class="fab fa-facebook-f footer-icon"></i>
        <i class="fab fa-instagram footer-icon"></i>
        <i class="fas fa-envelope footer-icon"></i>
        <p class="footer-details">© Copyright 2022 Spot Finder</p>

    </footer>


</body>

</html>